body{
    font-family:'Times New Roman', Times, serif;
    max-width: 1320px;
    margin:auto;
    border-style: outset;

}
.parent{
    margin-top: 50px;
    box-shadow: -9px 3px 14px 10px gray;
    padding: 10px;
}
p{
    margin: 0;
}

.header{
    display:flex
}
.left{
    width:70%
    
}
.summary .left img{
    width:30%;
    length:30%;
    border-radius: 50%;
}
.right{
    width:30%;
    border-left: 1px grey solid
}

.right p{
    margin-bottom: 15px;
}

.summary{
    display:flex;
    align-items: center;
}
.summary .left{
    width: 30%;
}
.summary .right{
    width: 70%;
   
}